In [45]:
import pandas as pd
data = pd.read_csv('GDPlist.csv', encoding = 'unicode_escape')
data.head(5)

        Country      Continent  GDP (millions of US$)
0  ¬†Afghanistan           Asia                  18181
1      ¬†Albania         Europe                  12847
2      ¬†Algeria         Africa                 190709
3       ¬†Angola         Africa                 100948
4    ¬†Argentina  South America                 447644

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [47]:
data.shape

(125, 3)

D·ªØ li·ªáu c√≥ 125 h√†ng, 3 c·ªôt, kh√¥ng b·ªã khuy·∫øt thi·∫øu

In [48]:
# Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
data.rename(columns={'Country':'Nuoc','Continent':'Chauluc','GDP (millions of US$)':'GDP (trieu $)'}, inplace=True)
data.head(2)

           Nuoc Chauluc  GDP (trieu $)
0  ¬†Afghanistan    Asia          18181
1      ¬†Albania  Europe          12847

In [49]:
# Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù 
data.insert(1, 'Thanhpho', data['Nuoc'],True)
data.head(2)

           Nuoc      Thanhpho Chauluc  GDP (trieu $)
0  ¬†Afghanistan  ¬†Afghanistan    Asia          18181
1      ¬†Albania      ¬†Albania  Europe          12847

In [64]:
# Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
data['Thanhpho']=data['Thanhpho'].str.replace('Vietnam', 'Hanoi')
data

             Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0    ¬†Afghanistan  ¬†Afghanistan           Asia          18181
1        ¬†Albania      ¬†Albania         Europe          12847
2        ¬†Algeria      ¬†Algeria         Africa         190709
3         ¬†Angola       ¬†Angola         Africa         100948
4      ¬†Argentina    ¬†Argentina  South America         447644
..            ...           ...            ...            ...
120   ¬†Uzbekistan   ¬†Uzbekistan           Asia          45353
121    ¬†Venezuela    ¬†Venezuela  South America         315841
122      ¬†Vietnam        ¬†Hanoi           Asia         122722
123        ¬†Yemen        ¬†Yemen         Africa          33675
124       ¬†Zambia       ¬†Zambia         Africa          19206

[125 rows x 4 columns]

In [56]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
# X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000
data.drop(data[data['Chauluc']=='Asia'].index)
data.drop(data[data['GDP (trieu $)']<300000].index)

,Nuoc,Thanhpho,Chauluc,GDP (trieu $)
4,Argentina,Argentina,South America,447644
5,Australia,Australia,Oceania,1488221
6,Austria,Austria,Europe,419243
11,Belgium,Belgium,Europe,513396
15,Brazil,Brazil,South America,2492908
21,Canada,Canada,North America,1736869
23,China,China,Asia,7298147
24,Colombia,Colombia,South America,328422
32,Denmark,Denmark,Europe,333238
41,France,France,Europe,2776324
44,Germany,Germany,Europe,3577031
46,Greece,Greece,Europe,303065
52,India,India,Asia,1676143
53,Indonesia,Indonesia,Asia,845680
54,Iran,Iran,Asia,482445
58,Italy,Italy,Europe,2198730
60,Japan,Japan,Asia,5869471
73,Mexico,Mexico,North America,1154784
78,Netherlands,Netherlands,Europe,840433
81,Norway,Norway,Europe,483650
89,Poland,Poland,Europe,513821
93,Russia,Russia,Asia,1850401
94,Saudi Arabia,Saudi Arabia,Asia,577595
100,South Africa,South Africa,Africa,408074
101,South Korea,South Korea,Asia,1116247
102,Spain,Spain,Europe,1493513
105,Sweden,Sweden,Europe,538237
106,Switzerland,Switzerland,Europe,636059
107,Taiwan,Taiwan,Asia,466832
109,Thailand,Thailand,Asia,345649
112,Turkey,Turkey,Asia,778089
116,United Arab Emirates,United Arab Emirates,Asia,360136
117,United Kingdom,United Kingdom,Europe,2417570
118,United States,United States,North America,15094025
121,Venezuela,Venezuela,South America,315841